@{
  Layout = "_Layout";

}

<h1>Eau Claire's Salon</h1>
<hr />

<div class="basic">
  <p>@Html.ActionLink("Add a stylist", "Create", "Stylists")</p>
  <p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
  <p>@Html.ActionLink("Add a client", "Create", "Clients")</p>
  <p>@Html.ActionLink("See all clients", "Index", "Clients")</p>
  <p>@Html.ActionLink("Search", "Search")</p>
</div>